body {
    background-image: url("floor-tile.png");
    margin: 0;
    padding: 0;
}

.nav-item {
    border-right: 1px solid #cccccc;
    font-size: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;

}

li:last-child {
    border-right: none;
}

.navbar {
    background: #ffffff;
    height: 100%;
    border-bottom: 1px solid #8f8f8f;
    margin-bottom: 0!important;
    padding: 0;
}



#myname {
    float: left;
    background: #4aaaaa;
    color: white;
    font-size: 28px;
    padding: 20px;
    height: 100%;
}

h2 {

}

.content-background {
    margin-top: 100px;
    background: white;
    padding: 50px;
    border: 1px solid;
}

.navbar-brand {
    padding: 0;
}

#myimage {
    width: 100%;
    max-height: 100%;
    float: right;
    margin-bottom: 20px;
}

.title {
    width: 100%;
    border-bottom: 1px solid #8f8f8f;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #4aaaaa;
}

.top-buffer { 
    margin-top: 50px; 
}

footer {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-top: 5px solid #4aaaaa;
    background: #8f8f8f;
    text-align: center;
    color: white;

}